::selection {
    background: #5EB1C4;
}

::-moz-selection {
    background: #5EB1C4;
}

body {
    height: 100%;
    max-width: 50%;

    display: flex;
    flex-direction: column;

    margin-top: 5%;
    margin-left: 5%;

    font-family: 'Inconsolata', monospace;
    font-size: 1.8rem;
    font-weight: lighter;

    color: #DCDFE5;
    background-color: #0C0C0C;
}

header, main, footer {
    margin-bottom: 3rem;
}

footer > p {
    margin: 0;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    body { max-width: 100%; }
    footer > p {
        margin: 0;
        margin-bottom: 2rem;
    }    
}

@media screen and (min-width: 600px)  {
    .mobile-break { display: none; }
}

.emoji {
    margin-left: 3px;
    margin-right: 1px;
    height: 1.2em;
    width: 1.2em;
    pointer-events: none;
}

.emoji.emoji-shake {
    animation: shake 1s 6 0s linear; 
}

@keyframes shake {
    0%   { transform: rotate(0deg); }
    20%  { transform: rotate(10deg); }
    40%  { transform: rotate(0deg); }
    60%  { transform: rotate(-10deg); }
    80%  { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.link-outline {
    text-decoration: none;
    color: #5EB1C4;
    border-bottom: 5px solid #5EB1C4;
}

.link-outline:hover {
    color: #DCDFE5;
    background-color: #5EB1C4;
}

.my-name {
    font-weight: bold;
}
