<form
  style="padding-left:20px;padding-right:20px;border: 2px solid #ccc;"
  action="https://tinyletter.com/debugando"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://tinyletter.com/debugando', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
>
<p>
  O <b>Debugando.org</b> no seu e-mail uma vez por semana. Grátis e cancelável a qualquer momento. Basta entrar com seu e-mail no campo abaixo.
</p>

<p>
  <input type="email" style="padding: 5px;border: 2px solid #ccc;" placeholder="truncate table@gmail.com" name="email" id="tlemail" required />
  <input type="hidden" value="1" name="embed"/>
  <button type="submit" style="padding:5px;border:2px solid #ccc;font-size:16px">Cadastrar</button>
</p>
</form>
